<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EJS</title>
  </head>
  <body>
    <div id="root"></div>
    <h1>Hello from HTML</h1>
    <a href="/signup">Signup</a>
  </body>
</html>
